<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Resource Tests">
            <directory suffix="Test.php">tests</directory>
<!--            <directory suffix="Test.php">ddd/core/tests</directory>-->
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
